*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right ,#38A2d7,#561139);
    color: #fff;
}

.container{
    border: 0.5px solid rgb(160, 153, 153);
    border-radius: 5px;
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    
}
.container:hover{
    box-shadow: 5px 8px 4px #909090;

}

.container h1{
    font-size: 1.6rem;
    margin-block: 8px;

}

.passBox{
    background-color: #fff;
    border: none;
    width: 300px;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    font-size: 20px;
    margin-block: 8px;


}

.row{
    display: flex;
    margin-block: 8px;

}

.row p, .row label{
    flex-basis: 100%;
    font-size: 18px;
    text-transform: capitalize;
}

.row input[type="checkbox"]{
    width: 20px;
    height: 20px;
}


.genBtn{
    padding: 8px;
    border: none;
    outline: none;
    font-size: 20px;
    margin-block: 8px;
    font-weight: 700;
    background-color: #2c619e;
    color: white;
    cursor: pointer;
}

.genBtn:hover{
    background-color: #0066ff;
}